<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Boiler pilate Backbone</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<script type="text/javascript">
	var app = {
		baseUrlDeveloper: "js/src/",
		baseUrlApi: "http://localhost/boilerdeveloper/api/"
	}
	</script>

	<div id="content">
		<div class="row">
			<div class="col-sm-6">
				<div class="content-list"></div>
				<fieldset>
					<legend>Perfil de usuario</legend>

					<div class="content-bio"></div>
				</fieldset>
			</div>
			<div class="col-sm-6">
				<div class="movie-list"></div>
				<fieldset>
					<legend>Perfil de pelicula</legend>

					<div class="content-movie"></div>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="toy-list"></div>
				<fieldset>
					<legend>Perfil del juego</legend>

					<div class="content-toy"></div>
				</fieldset>
			</div>
			<div class="col-sm-6">
				<div class="country-list"></div>
				<fieldset>
					<legend>Detalle Paises</legend>

					<div class="content-country"></div>
				</fieldset>
			</div>
		</div>
	</div>

	<script id="userlist-tmpl" type="text/template">
	<h1>Visita el perfil de un usuario</h1>
	<% _.each(collection, function(model) { %>
	<p><a href="#user/view/<%= model.id %>"><%= model.name %></a></p>
	<% }) %>
	</script>
	<script id="userview-tmpl" type="text/template">
	<h1>Información sobre el usuario</h1>
	<ul>
		<li><strong>Identificador: </strong><span><%= model.id %></span></li>
		<li><strong>Nombre: </strong><span><%= model.name %></span></li>
		<li><strong>Edad: </strong><span><%= model.age %></span></li>
	</ul>
	</script>


	<script id="movielist-tmpl" type="text/template">
	<h1>Lista de peliculas</h1>
	<ul>
	<% _.each(collection, function(model) { %>
		<li><a href="#movie/view/<%= model.id %>"><%= model.name %></a></li>
	<% }) %>
	</ul>
	</script>

	<script id="movieview-tmpl" type="text/template">
	<h1>Pelicula detalle</h1>
	<ul>
		<li><strong>Identificador</strong> <%= model.id %></li>
		<li><strong>Nombre</strong> <%= model.name %></li>
		<li><strong>Año</strong> <%= model.year %></li>
	</ul>
	</script>

	<script id="toylist-tmpl" type="text/template">
	<h1>Lista de juegos</h1>
	<ul>
	<% _.each(collection, function(model) { %>
		<li><a href="#toy/view/<%= model.id %>"><%= model.name %></a></li>
	<% }) %>
	</ul>
	</script>

	<script id="toyview-tmpl" type="text/template">
	<h1>Juego detalle</h1>
	<ul>
		<li><strong>Identificador</strong> <%= model.id %></li>
		<li><strong>Nombre</strong> <%= model.name %></li>
		<li><strong>Costo</strong> <%= model.price %></li>
	</ul>
	</script>


	
	<script id="countrylist-tmpl" type="text/template">
		<h1>Lista de paises</h1>
		<ul>
			<% _.each(collection, function(model) { %>
				<li><a href="#country/view/<%= model.id%>"><%= model.name%></a></li>
			<% }) %>
		</ul>
		
	</script>
	
	<script id="contryview-tmpl" type="text/template">
	<h1>País Detalle</h1>
	<ul>
		<li><strong>Identificador</strong> <%= model.id %></li>
		<li><strong>Nombre</strong> <%= model.name %></li>
		<li><strong>Capital</strong> <%= model.capital %></li>
	</ul>
	</script>
	<!--<script src="js/vendor/require.min.js" data-main="js/production/app"></script> -->
	<!-- Mode developer -->
	<!-- off -->
	<script src="js/vendor/require.min.js" data-main="js/src/js/app"></script>
	<!--/off -->
	<!-- /Mode developer -->
</body>
</html>